@tailwind base;
@tailwind components;
@tailwind utilities;

nav li a.active{
    color: #ff3811;
    font-weight: 600;
}

.text-primary{
    color: #ff3811;

}
.bg-primary{
    background-color: #ff3811;
}

:root{--prime: #ff3811}